{% if options.transEdit == false %}
	{% if link is defined %}
		{% set params = {'urlTarget': '_self'}|merge(params|default({})) %}
		<a href="{{ link|default('#') }}" target="{{ params.urlTarget }}">
			{% if options.chevronRight == true %}<i class="icon-chevron-right"></i>{% endif %}
			{{ title|trans({}, options.translation_domain) }}
		</a>
	{% elseif pathname is defined %}
		{% set params = params|default({})|merge({'_locale': locale}) %}
		<a href="{{ path(pathname, params) }}">
			{% if options.chevronRight == true %}<i class="icon-chevron-right"></i>{% endif %}
			{{ title|trans({}, options.translation_domain) }}</a>
	{% else %}
		<a href="" onclick="return false;">
			{% if options.chevronRight == true %}<i class="icon-chevron-right"></i>{% endif %}
			{{ title|trans({}, options.translation_domain) }}</a>
	{% endif %}
{% else %}
	{% if link is defined %}
		<a href="{{ link|default('#') }}">
			{% if options.chevronRight == true %}<i class="icon-chevron-right"></i>{% endif %}
			{{ title|transEdit({}, options.translation_domain) }}</a>
	{% elseif pathname is defined %}
		{% set params = params|default({})|merge({'_locale': locale}) %}
		<a href="{{ path(pathname, params) }}">
			{% if options.chevronRight == true %}<i class="icon-chevron-right"></i>{% endif %}
			{{ title|transEdit({}, options.translation_domain) }}</a>
	{% else %}
		<a href="" onclick="return false;">
			{% if options.chevronRight == true %}<i class="icon-chevron-right"></i>{% endif %}
			{{ title|transEdit({}, options.translation_domain) }}</a>
	{% endif %}
{% endif %}